/* style.css */

body {
    font-family: Arial, sans-serif; 
    text-align: center;
    margin: 0;
    background-color: #edb8d1; /* Background color for the entire page */
}
#container {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: 100vh; /* Full viewport height */
   
}
#image-container {
    /*This is for the image container, you can add styles as needed*/
}
#question {
    font-size: 52px;
    font-family: 'Sacramento', cursive; /* Use the Sacramento font for the question text */
}
#options {
    margin-top: 20px; /* Space between question and options */
}
button {
    padding: 10px 20px; /* Padding for buttons */
    margin: 0px; /* Space between buttons */
    font-size: 18px; /* Font size for buttons */
    font-family: 'Sacramento', cursive; /* Use the Sacramento font for buttons */
    background-color: #fb607f; /* Button background color */
    border: none; /* Remove default border */
    cursor: pointer; /* Change cursor on hover */

    
}